# Ignore python compiled files.

tareaslatinux/wizard/*.pyc
tareaslatinux/*.pyc

# Ignore .swo files.

tareaslatinux/wizard/*.swo
tareaslatinux/security/*.swo
tareaslatinux/i18n/*.swo
tareaslatinux/*.swo

